(list "
<div class='outer' style='text-align: center'>
	<div style='word-spacing: 4px'>
		<a href='/leaders'>leaders</a> |
		<a href='https://github.com/coyove/Eugine/issues' target='_blank'>contact</a> |
		<a href='https://www.linode.com/?r=da0c63f386042110f65088a27c7de27896d4e023' target='_blank'>linode</a> |
		<a href='/assets/about.html'>about</a>
	</div>
	<div style='font-size: 80%'>
		Built with <span style='font-size:16px;'>&spades;</span> by <a href='https://github.com/coyove/Eugine'>Eugine</a>
	</div>
</div>
</div>
</body>
</html>")