(list "
<div class='lister'>
<div class='item'>
<div class='title'>" item::content "</div>
<div class='info'>" (str item::comments) " comments | " (str item::points) " points | "
"by <a href='/user/" item::Author "'>" item::Author "</a> at " (pretty-date item::created-ts) " ago | <a href='" (if [item::parent == "0"] "/" (+ "/item/" item::parent)) "'>parent</a> | "

"<a class='aye' href='/aye/" (str item::id) "'>"
(if [(list-contains item::aye-users context::username) < 0]
	"aye"
	"<b>aye</b>")
"</a> | "

"<a class='no' href='/no/" (str item::id) "'>"
(if [(list-contains item::no-users context::username) < 0]
	"no"
	"<b>no</b>")
"</a>"

"</div>
</div>"

"<div class='post'>
<form method='post' action='/post/" (str item::id) "'>
<textarea name='text' rows='5'></textarea>
<div><input type='submit' value='comment'></div>
</form>
</div>

<hr>
%s
" (::build-pager start (len comments)))