(list 
"<div class='lister'>
<div class='item' id='item-" item-id "'>
<div class='inner-item'>
	<table><tr><td class='vote-area'>
        <div class='unvote' upvote onclick='sayaye(" item-id ")'>&#9650;</div>
        <div class='unvote' downvote onclick='sayno(" item-id ")'>&#9660;</div>
    </td><td>
	<div class='title'>"
		(if [[item::title != "Comment"] and [item::state != "deleted"]] (+ "<h2>" item::title "</h2>"))
		(if [item::state == "deleted"] 
            "<span deleted>deleted</span>"
            item::content)
	"</div>
	<div class='info'>#" item-id " | " (if [(num item::comments) > 0] (+ item::comments " comments | ")) 
	"<span points>" (str item::points) "</span> points | "
	"by <a href='/user/" item::author "'>" item::author "</a> at " (pretty-date item::created-ts) " ago"
	" | <a class='hider' href='javascript:hide(" item-id ")'>hide</a>"

	(if [item::parent != "0"] 
		(+ " | <a href='/item/" item::parent "#item-" item-id "'>parent</a>"))

	(if [[context::username == item::author] or [[context::user-data : UserOp::GROUP] == "mod"]]
		(+ " | <a href='javascript:del(" item-id ")'>delete</a>") "")

	(if [[context::user-data : UserOp::GROUP] == "mod"]
		(+ " | <a href='/opnctl/" item-id "'>un/lock</a>") "")

	"</div>
	</td></tr></table>
</div>
</div>"

(if [[item::state != "locked"] and [item::state != "deleted"]] (+
"<div class='post' style='margin-top: 0'>
<form method='post' action='/post/" item-id "'>
<input type='hidden' name='title' value='Comment'>
<textarea name='text' rows='5'></textarea>
<input type='submit' value='comment' style='margin-top: 4px;'>
</form>
</div>"))

"<hr>")