(list "<form method=post action='/login'>
<table class='info'>
	<tr><td><b>login</b></td></tr>
	<tr><td>username:</td><td><input class='nar' name='username'></td></tr>
	<tr><td>password:</td><td><input class='nar' type='password' name='password'></td></tr>
	<tr><td></td><td><input type='submit' value='login'></td></tr>
</table>
</form>
<hr>
<form method=post action='/signup'>
<table class='info'>
	<tr><td><b>sign up</b></td></tr>
	<tr><td>username:</td><td><input class='nar' name='username'></td></tr>
	<tr><td>password:</td><td><input class='nar' type='password' name='password'></td></tr>
	<tr><td></td><td><input type='submit' value='sign up'></td></tr>
</table>
</form>
")