(list "<form method=post action='/login' id='login'>
<table class='info'>
	<tr><td colspan='2'><b>登入</b></td></tr>
	<tr><td>用户名:</td><td><input class='nar' name='username'></td></tr>
	<tr><td>密码:</td><td><input class='nar' type='password' name='password'></td></tr>
	<tr><td></td><td><input type='submit' value='登入'></td></tr>
	<tr><td>&nbsp;</td><td><span red id='password-reseted'></span></td></tr>
	<tr><td></td><td><a href='javascript:showhide()'>忘记密码?</a></td></tr>
</table>
</form>
<form method=post action='/password/reset' id='reset' style='display:none'>
<table class='info'>
	<tr><td colspan='2'><b>重置密码</b></td></tr>
	<tr><td>用户名:</td><td><input class='nar' name='username'></td></tr>
	<tr><td>邮箱:</td><td><input class='nar' name='email'></td></tr>
	<tr><td></td><td><input type='submit' value='重置'></td></tr>
</table>
</form>
<hr>
<form method=post action='/signup' id='signup'>
<table class='info'>
	<tr><td colspan='2'><b>注册</b></td></tr>
	<tr><td>用户名:</td><td><input class='nar' name='username'></td></tr>
	<tr><td>密码:</td><td><input class='nar' name='password'></td></tr>
	<tr><td></td><td><input type='submit' value='注册'></td></tr>
</table>
</form>
<script type='text/javascript'>
	function showhide() {
		display('login', 'none');
		display('signup', 'none');
		display('reset', 'block');
	}
</script>
")