(list "<table class='info'>
    <tr><td>ID:</td><td>" [user-data : UserOp::ID] "</td></tr>
    <tr><td>用户:</td><td>" username " (" [user-data : UserOp::GROUP] ")</td></tr>
    <tr><td>注册于:</td><td>" (str age) " 天前</td></tr>
    <tr><td>上次登入:</td><td>" (utc-time (num [user-data : UserOp::LAST_LOGIN_TS])) "</td></tr>
    <tr><td>发表:</td><td>" [user-data : UserOp::TOTAL_POSTS] " 篇</td></tr>
    <tr><td>karma:</td><td>" [user-data : UserOp::KARMA] "</td></tr>
    <tr><td valign='top'>个人介绍:</td><td class='title'>" (parse-code (decodeURI [user-data : UserOp::ABOUT])) "</td></tr>
    <tr><td></td><td><a href='/favorites/" username "'>" username " 的收藏</a></td></tr>
    <tr><td></td><td><a href='/submissions/" username "'>" username " 的主题</a></td></tr>
    <tr><td></td><td><a href='/comments/" username "'>" username " 的回复</a></td></tr>"
    (if [[context::user-data : UserOp::GROUP] == "mod"]
        (+ "<tr><td></td><td>
            <form method='post' action='/lock/" [user-data : UserOp::USERNAME] "'>
                <select name='long'>
                    <option value='0' selected>forever</option>
                    <option value='86400000'>1 day</option>
                    <option value='604800000'>1 week</option>
                    <option value='2592000000'>1 month</option>
                    <option value='31536000000'>1 year</option>
                </select>
                <input type='submit' value='lock/unlock user'>
            </form></td></tr>"))
"</table>")