(list "<div class='post'>
	<form method=post action='/post/0'>
		<table class='info'>
			<tr><td>title:</td><td><input type='text' name='title'></td></tr>
			<tr><td valign=top>text:</td><td><textarea name='text' rows='10'></textarea></td></tr>
			<tr><td></td><td><input type='submit' value='submit'></td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr><td></td><td><a href='/assets/formatting.html'>formatting tips</a></td></tr>
			<tr><td></td><td><a href='https://tmp.is' target='_blank'>images hosting</a></td></tr>
		</table>
	</form>
</div>")