(list "<form method='post' action='/update'><table class='info'>
    <tr><td>ID:</td><td>" [user-data : UserOp::ID] "</td></tr>
    <tr><td>用户组:</td><td>" [user-data : UserOp::GROUP] "</td></tr>
    <tr><td>用户名:</td><td>" [user-data : UserOp::USERNAME] "</td></tr>
    <tr><td>注册于:</td><td>" (str age) " 天前</td></tr>
    <tr><td>上次登入:</td><td>" (utc-time (num [user-data : UserOp::LAST_LOGIN_TS])) " @ " 
        [user-data : UserOp::LAST_LOGIN_IP]
    "</td></tr>
    <tr><td>发表:</td><td>" [user-data : UserOp::TOTAL_POSTS] " 篇</td></tr>
    <tr><td>karma:</td><td>" [user-data : UserOp::KARMA] "</td></tr>
    <tr><td>自动隐藏:</td><td>
        <input class='nar' name='autohide' value='" [user-data : UserOp::AUTOHIDE] "'>
    </td></tr>
    <tr><td>时间线:</td><td>
        <select name='showdel'>
            <option value='yes'>显示删除</option>
            <option value='no' " (if [[user-data : UserOp::SHOWDELETED] == "no"] "selected") ">隐藏删除</option>
        </select>
    </td></tr>
    <tr><td valign='top'>个人介绍:</td><td>
        <textarea name='about' rows='10'>" (decodeURI [user-data : UserOp::ABOUT]) "</textarea>
    </td></tr>
    <tr><td>Email:</td><td>
        <input type='text' name='email' value='" (decodeURI [user-data : UserOp::EMAIL]) "'>
    </td></tr>
    <tr><td></td><td><a href='/favorites/" [user-data : UserOp::USERNAME] "'>我的收藏</a></td></tr>
    <tr><td></td><td><a href='/submissions/" [user-data : UserOp::USERNAME] "'>我的主题</a></td></tr>
    <tr><td></td><td><a href='/comments/" [user-data : UserOp::USERNAME] "'>我的回复</a></td></tr>
    <!-- <tr><td></td><td><a href='javascript:unhideAll()'>显示所有隐藏</a></td></tr> -->
    <tr><td><input type='submit' value='更新'></td><td></td></tr>
</table></form>
<hr>
<form method='post' action='/password/change'><table class='info'>
    <tr><td>旧密码:</td><td><input class='nar' name='old'></td></tr>
    <tr><td>新密码:</td><td><input class='nar' name='new'></td></tr>
    <tr><td><input type='submit' value='修改'></td><td><span red id='password-changed'></span></td></tr>
</table></form>")