* {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

body {
	font: normal 14px Arial,"Helvetica Neue",Helvetica,sans-serif;
	line-height: 1.2;
	padding: 0 10px;
	background: #f0eeee;
}

#container {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	background: #f0ebe4;
	height: 100%;
}

.hide {
	display: none !important;
}

.banner {
	background: #54638c;
	padding: 4px;
	clear: both;
	overflow: hidden;
	line-height: 1.5;
}

.banner a {
	text-decoration: none !important;
	color: white;
	/*margin: -4px 0;*/
    padding: 4px 6px;
	display: inline-block;
	line-height: 1;
}

.banner a:hover {
	color: #eee;
	background: #424e70;
}

.footer {
	background: #4b597d;
	padding: 4px 6px;
	color: white;
}

.footer a {
	color: white !important;
}

a {
	text-decoration:none;
	color:#54638c;
}

a:hover{
	color:#00207a;
	text-decoration:underline;
}

table.info, div.welcome, div.error {
	margin: 6px 0;
	line-height: 1.2;
	padding: 4px;
}

div.error {
	white-space: pre-wrap;
	padding: 4px;
	line-height: 1.5;
	cursor: pointer;
}

div.error:before {
	content: 'error';
	background: red;
	color: white;
	padding: 4px;
	font-weight: bold;
	margin-right: 8px;
}

div.lister {
	width: 100%;
}

div.lister div.item {
	width: 100%;
	padding: 6px;
}

h2 {
	padding: 0 4px;
	margin-top: 4px;
}

span[red] {
	color: red;
}

span[locked] {
	font-size: 10px;
	margin-left: 6px;
	color: #666;
}

div.lister .title a {
	text-decoration: none;
}

div.lister .info {
	color: #aaa;
	font-size: 12px;
	margin-top: 2px;
}

div.item-true {
	background: #eae5de;
}

div.item-false {
	background: #f0ebe4;
}

.aye b {
	background: green;
    color: white;
    padding: 2px 4px;
}

.no b {
	background: red;
    color: white;
    padding: 2px 4px;
}

pre, code {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

table {
	width: 100%;
}

table tr td:first-child {
	width: 1%;
	white-space: nowrap;
}

.post {
	margin: 6px 10px;
}

input[type=text], textarea {
	width: 100%;
	max-width: 400px;
}

textarea {
	display: block;
}

input.nar {
	width: 100%;
	max-width: 150px;
}

hr {
	border-style: dotted;
	border-color: #aaa;
}

@media screen and (max-width: 480px) {
    body {
        padding: 0;
    }
}